* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: rgba(6, 106, 113, 0.662);
}

.container {
  width: 80%;
  margin: 0 auto;
}

#header {
  padding: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: #fff;
  font-size: 18px;
}

.header button {
  width: 140px;
  height: 37px;
  border: none;
  font-weight: 500;
}

#main {
  padding: 50px o;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main img {
  width: 400px;
}

.main-text p {
  padding: 25px 0;
  width: 350px;
  line-height: 26px;
  color: #fff;
}

.main-text h1 {
  font-size: 34;
  color: #fff;
}

.main-text a {
  padding: 10px 20;
  background: rgb(9, 45, 100);
  color: #fff;
  text-transform: uppercase;
}
